{% extends 'base.html.twig' %}

{% block title %}Auteurs{% endblock %}

{% block body %}
    <h1>Gestion auteurs</h1>

    <a href="{{ path('app_author_edit') }}"
       class="btn btn-outline-primary mb-3">
        Ajouter un auteur
    </a>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th width="250px"></th>
        </tr>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.lastname }}</td>
                <td>{{ author.firstname }}</td>
                <td>
                    <a href="{{ path('app_author_edit', {'id': author.id}) }}"
                       class="btn btn-primary">
                        Modifier
                    </a>
                    <a href="{{ path('app_author_delete', {'id': author.id}) }}"
                       class="btn btn-danger">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
