{% extends 'base.html.twig' %}

{% block title %}Edition livre{% endblock %}

{% block body %}
    <h1>Edition livre</h1>

    {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.authors) }}

    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('app_book_index') }}"
           class="btn btn-outline-secondary">
            Retour
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}


