{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}

{% block body %}
    <h1>Gestion livres</h1>

    <a href="{{ path('app_book_edit') }}"
       class="btn btn-outline-primary mb-3">
        Ajouter un livre
    </a>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Auteurs</th>
            <th width="250px"></th>
        </tr>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.authors|join('<br>')|raw }}</td>
                <td>
                    <a href="{{ path('app_book_edit', {'id': book.id}) }}"
                       class="btn btn-primary">
                        Modifier
                    </a>
                    <a href="{{ path('app_book_delete', {'id': book.id}) }}"
                       class="btn btn-danger">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
