{% extends 'base.html.twig' %}

{% block title %}Edition employé{% endblock %}

{% block body %}
    <h1>Edition employé</h1>

    {{ form_start(form) }}

    {{ form_row(form.lastname) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.email) }}
    <div class="alert alert-info">
        Ne remplissez Les champs pour le mot de passe que si vous voulez changer le mot de passe de l'employé.
    </div>
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.role) }}

    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('app_employee_index') }}"
           class="btn btn-outline-secondary">
            Retour
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}


