{% extends 'base.html.twig' %}

{% block title %}Employés{% endblock %}

{% block body %}
    <h1>Gestion employés</h1>

    <a href="{{ path('app_employee_create') }}"
       class="btn btn-outline-primary mb-3">
        Ajouter un employé
    </a>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Role</th>
            <th width="250px"></th>
        </tr>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.lastname }}</td>
                <td>{{ employee.firstname }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.role }}</td>
                <td>
                    <a href="{{ path('app_employee_edit', {'id': employee.id}) }}"
                       class="btn btn-primary">
                        Modifier
                    </a>
                    <a href="{{ path('app_employee_delete', {'id': employee.id}) }}"
                       class="btn btn-danger">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
