{% extends 'base.html.twig' %}

{% block title %}Emprunts{% endblock %}

{% block body %}
    <h1>Gestion emprunts</h1>

    <a href="{{ path('app_loan_add') }}"
       class="btn btn-outline-primary mb-3">
        Nouvel Emprunt
    </a>

    <table class="table">
        <tr>
            <th>Utilisateur</th>
            <th>Livre</th>
            <th>Date sortie</th>
            <th>Date retour</th>
            <th width="150px"></th>
        </tr>
        {% for loan in loans %}
            <tr>
                <td>{{ loan.user }}</td>
                <td>{{ loan.book }}</td>
                <td>{{ loan.startDate|date('d/m/Y') }}</td>
                <td>
                    {% if loan.returned %}
                        {{ loan.endDate|date('d/m/Y') }}
                    {% else %}
                        En cours
                    {% endif %}
                </td>
                <td>
                    {% if not loan.returned %}
                        <a href="{{ path('app_loan_registerreturn', {'id': loan.id}) }}" class="btn btn-primary">
                            Retour
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
